<h2 class="text-center">:: Change Password ::</h2>

<div class="card-body shadow-lg mx-4 p-3">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <div class="row mx-2">
        <div class="col-md-3">
         
            <label style="margin-left: 5px;" class="label" for="code">Username</label>
           <!----<app-text-input [ariaReadOnly] formControlName="branchName" [label]="'Branch Name'"></app-text-input>-->
          <input class="form-control"  value='{{username}}' readonly/>
          <!--<input class="form-control" type="hidden" formControlName="branchCode" value='{{branchCode}}' readonly/>-->
        </div>
        <div class="col-md-3">
         
            <label style="margin-left: 15px;" class="label" for="code">Old Password</label>
            <app-text-input [ariaReadOnly] [type]="'password'" formControlName="oldPassword" [label]="'Old Password'"></app-text-input>
          
        
        </div>
  <div class="col-md-3">
    
      <label class="label ms-3" for="newPassword">New Password</label>
    
    <app-text-input formControlName="newPassword" [type]="'password'" [label]="'New Password'" ></app-text-input>
  
  </div>
  <div class="col-md-3">
    
      <label class="label ms-3" for="newConfirmPassword">New Confirm Password</label>
      <app-text-input formControlName="newConfirmPassword" [type]="'password'" [label]="'New Confirm Password'" ></app-text-input>
    
  
  </div>
  
  
      </div>
      <div class="ms-5 mx-3">
        <button [disabled]="inputForm.invalid"  class="ml-3 btn btn-primary submit px-3">UPDATE</button>
       
      
        <div *ngIf="msg" class="mt-2 alert alert-success" role="alert">
          <i class="fas fa-check-circle fa-2x"></i> {{msg}}
        </div>
       
    </div>
      </form>
    
  </div>
